// Copyright 2022 Manna Harbour
// https://github.com/manna-harbour/miryoku

/ {
  behaviors {
    u_mt: u_mt {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <U_TAPPING_TERM>;
      flavor = "tap-preferred";
      bindings = <&kp>, <&kp>;
    };
    u_lt: u_lt {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      tapping-term-ms = <U_TAPPING_TERM>;
      flavor = "tap-preferred";
      bindings = <&mo>, <&kp>;
    };
  };
  macros {
    vbn_fast_tap: vbn_fast_tap {
      compatible = "zmk,behavior-macro-one-param";
      #binding-cells = <1>;
      wait-ms = <0>;
      tap-ms = <1>;
      bindings = <&macro_param_1to1 &macro_tap &kp MACRO_PLACEHOLDER>;
    };
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                &fast_tap Q  &fast_tap W  &fast_tap E  &fast_tap R &fast_tap T &fast_tap Y &fast_tap U &fast_tap I &fast_tap O &fast_tap P
            >;
        };
    };
  };
};
